.item {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
}

.item:hover {
  background-color: var(--color-surface);
}

.taskContainer {
  display: flex;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid var(--color-text-secondary);
}

.textContainer {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.textContainer span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font: var(--font-label);
}

.description {
  font: var(--font-body);
}

.checked {
  color: var(--color-text-secondary);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: inherit;
}

.userTag {
  width: 12rem;
  align-self: center;
  justify-self: flex-end;
}
