.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 0.75rem;
}

.taskTitle {
  font: var(--font-heading);
  overflow: hidden;
}

.taskNameRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 2rem;
  align-items: flex-end;
}

.stretch {
  width: 50%;
  max-width: none;
  flex-grow: 1;
}

.profilePicture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-radius: 50%;
}
